.providerbackstage .message .table.by1 table tbody tr th:nth-child(1),
.providerbackstage .message .table.by1 table tbody tr td:nth-child(1){
	width: 372px;
}
.providerbackstage .message .table.by1 table tbody tr th:nth-child(2),
.providerbackstage .message .table.by1 table tbody tr td:nth-child(2){
	width: 133px;
}
.providerbackstage .message .table.by1 table tbody tr th:nth-child(3),
.providerbackstage .message .table.by1 table tbody tr td:nth-child(3){
	width: 143px;
}
.providerbackstage .message .table.by1 table tbody tr th:nth-child(4),
.providerbackstage .message .table.by1 table tbody tr td:nth-child(4){
	width: 169px;
}
.providerbackstage .message .table.by1 table tbody tr th:nth-child(5),
.providerbackstage .message .table.by1 table tbody tr td:nth-child(5){
	width: 140px;
}
.providerbackstage .message .table.by2 table tbody tr th:nth-child(1),
.providerbackstage .message .table.by2 table tbody tr td:nth-child(1){
	width: 432px;
}
.providerbackstage .message .table.by2 table tbody tr th:nth-child(2),
.providerbackstage .message .table.by2 table tbody tr td:nth-child(2){
	width: 180px;
}
.providerbackstage .message .table.by2 table tbody tr th:nth-child(3),
.providerbackstage .message .table.by2 table tbody tr td:nth-child(3){
	width: 205px;
}
.providerbackstage .message .table.by2 table tbody tr th:nth-child(4),
.providerbackstage .message .table.by2 table tbody tr td:nth-child(4){
	width: 140px;
}
.providerbackstage .message .table.by3 table tbody tr th:nth-child(1),
.providerbackstage .message .table.by3 table tbody tr td:nth-child(1){
	width: 225px;
}
.providerbackstage .message .table.by3 table tbody tr th:nth-child(2),
.providerbackstage .message .table.by3 table tbody tr td:nth-child(2){
	width: 300px;
}
.providerbackstage .message .table.by3 table tbody tr th:nth-child(3),
.providerbackstage .message .table.by3 table tbody tr td:nth-child(3){
	width: 157px;
}
.providerbackstage .message .table.by3 table tbody tr th:nth-child(4),
.providerbackstage .message .table.by3 table tbody tr td:nth-child(4){
	width: 135px;
}
.providerbackstage .message .table.by3 table tbody tr th:nth-child(5),
.providerbackstage .message .table.by3 table tbody tr td:nth-child(5){
	width: 140px;
}
.providerbackstage .message .table.by4 table tbody tr th:nth-child(1),
.providerbackstage .message .table.by4 table tbody tr td:nth-child(1){
	width: 170px;
}
.providerbackstage .message .table.by4 table tbody tr th:nth-child(2),
.providerbackstage .message .table.by4 table tbody tr td:nth-child(2){
	width: 224px;
}
.providerbackstage .message .table.by4 table tbody tr th:nth-child(3),
.providerbackstage .message .table.by4 table tbody tr td:nth-child(3){
	width: 194px;
}
.providerbackstage .message .table.by4 table tbody tr th:nth-child(4),
.providerbackstage .message .table.by4 table tbody tr td:nth-child(4){
	width: 120px;
}
.providerbackstage .message .table.by4 table tbody tr th:nth-child(5),
.providerbackstage .message .table.by4 table tbody tr td:nth-child(5){
	width: 109px;
}
.providerbackstage .message .table.by4 table tbody tr th:nth-child(6),
.providerbackstage .message .table.by4 table tbody tr td:nth-child(6){
	width: 140px;
}