.nav_box .nav .sec_nav .down{
	display: none;
}
/*.nav_box .nav .sec_nav:hover .down{
	display: block;
}*/
.require_box{
	background-color: #fff;
}
.require_box .require .sel_box{
	padding: 0 30px;
	border:1px solid #ccc;
	margin: 10px 0 20px;
}
.require_box .require .sel_box .sel{
	height: 50px;
	border-bottom: 1px dashed #ddd;
	padding: 10px 0;
}
.require_box .require .sel_box .sel3{
	border-bottom: 0;
}
.require_box .require .sel_box .sel span{
	float: left;
	text-align: center;
	width: 20px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
}
.require_box .require .sel_box .sel span.span1{
	width: 97px;
	font-weight: bold;
	color: #666;
}
.require_box .require .sel_box .sel select{
	float: left;
	height: 30px;
	border-color: #22ac38;
	outline: none;
	color: #666;
	font-size: 16px;
	cursor: pointer;
}
.require_box .require .sel_box .sel2 ul{
	float: left;
	overflow: hidden;
}
.require_box .require .sel_box .sel2 ul li{
	float: left;
	margin-right: 18px;
}
.require_box .require .sel_box .sel2 ul li a{
	float: left;
	color: #666;
	padding: 0 10px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
}
.require_box .require .sel_box .sel2 ul li:hover a,
.require_box .require .sel_box .sel2 ul li.active a{
	background-color: #22ac38;
	color: #fff;
}
.require_box .require .cnt_box{
	padding: 0 30px;
	border:1px solid #ccc;
	margin: 0 0 100px;
}
.require_box .require .cnt_box ul.cnt{
	float: left;
}
.require_box .require .cnt_box ul.cnt li{
	width: 100%;
	float: left;
	height: 105px;
	padding: 20px 0;
	border-bottom: 1px dashed #ddd;
}
.require_box .require .cnt_box ul.cnt li .left{
	float: left;
	padding-left: 5px;
	width: 585px;
	height: 65px;
}
.require_box .require .cnt_box ul.cnt li .left h3{
	font-size: 18px;
	font-weight: bold;
	color: #22ac38;
	margin: 10px 0;
}
.require_box .require .cnt_box ul.cnt li .left p{
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.require_box .require .cnt_box ul.cnt li p.p{
	float: left;
	width: 340px;
	height: 65px;
	line-height: 65px;
	text-align: right;
}
.require_box .require .cnt_box ul.cnt li p.p span{
	color: #22ac38;
}
.require_box .require .cnt_box ul.cnt li a{
	float: right;
	margin:17px 0;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #22ac38;
	color: #fff;
	border-radius: 5px;
}
.require_box .require .cnt_box ul.pagination{
	float: right;
	margin: 54px 0 26px;
}
.require_box .require .cnt_box ul.pagination li a{
	margin: 0 5px;
	color: #333;
	border: 1px solid #22ac38;
}
.require_box .require .cnt_box ul.pagination li:not(.disabled) a:hover,
.require_box .require .cnt_box ul.pagination li:not(.disabled) a.active{
	background-color: #22ac38;
	color: #fff;
}