.nav_box .nav .sec_nav .down{
	display: none;
}
/*.nav_box .nav .sec_nav:hover .down{
	display: block;
}*/

.reqdetails_box{
	background-color: #fff;
}
.reqdetails_box .reqdetails .bid{
	margin-bottom: 44px;
}
.reqdetails_box .reqdetails .bid header{
	height: 163px;
	border-bottom: 1px solid #ddd;
}
.reqdetails_box .reqdetails .bid header p{
	height: 68px;
	line-height: 68px;
}
.reqdetails_box .reqdetails .bid header p span{
	color: #666;
}
.reqdetails_box .reqdetails .bid header p a:hover span{
	color: #22ac38;
}
.reqdetails_box .reqdetails .bid header div img{
	float: left;
	width: 60px;
	height: 60px;
}
.reqdetails_box .reqdetails .bid header div h3{
	float: left;
	margin-left: 13px;
	font-size: 22px;
	line-height: 22px;
}
.reqdetails_box .reqdetails .bid .step{
	height: 152px;
	padding: 0 10px;
	border: 1px solid #ddd;
	background-color: #f1f1f1;
	overflow: hidden;
}
.reqdetails_box .reqdetails .bid .step p.top{
	height: 33px;
	line-height: 32px;
	border-bottom: 1px solid #ddd;
	color: #666;
	padding: 0 20px;
}
.reqdetails_box .reqdetails .bid .step p.top span{
	font-weight: bold;
	color: #333;
}
.reqdetails_box .reqdetails .bid .step ul{
	width: 1288px;
	border-top: 1px solid #fff;
	height: 115px;
	margin-left: -39px;
}
.reqdetails_box .reqdetails .bid .step ul li{
	float: left;
	width: 184px;
}
.reqdetails_box .reqdetails .bid .step ul li .span1{
	text-align: center;
	width: 86px;
	height: 17px;
	margin: 11px 47px;
	float: left;
}
.reqdetails_box .reqdetails .bid .step ul li .span1 span{
	float: left;
	height: 17px;
	line-height: 17px;
	color: #a4a4a4;
}
.reqdetails_box .reqdetails .bid .step ul li .span1 i{
	margin-right: 9px;
	float: left;
	width: 17px;
	height: 17px;
	background:url(../images/icon/icon_req.png) no-repeat -142px 1px;
}
.reqdetails_box .reqdetails .bid .step ul li div{
	float: left;
	width: 100%;
	height: 26px;
	position: relative;
}
.reqdetails_box .reqdetails .bid .step ul li div p{
	width: 100%;
	height: 6px;
	margin: 10px 0;
	background-color: #dcdcdc;
}
.reqdetails_box .reqdetails .bid .step ul li:first-child div p{
	width: 50%;
	float: right;
}
.reqdetails_box .reqdetails .bid .step ul li:last-child div p{
	width: 50%;
	float: left;
}
.reqdetails_box .reqdetails .bid .step ul li.finish div p,
.reqdetails_box .reqdetails .bid .step ul li.active div p{
	background-color: #22ac38;
}
.reqdetails_box .reqdetails .bid .step ul li div span,
.reqdetails_box .reqdetails .bid .step ul li div i{
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
}
.reqdetails_box .reqdetails .bid .step ul li div span{
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: #dcdcdc;
	margin-top: -13px;
	margin-left: -13px;
	z-index: 1;
}
.reqdetails_box .reqdetails .bid .step ul li div i{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color: #c0c0c0;
	margin-top: -9px;
	margin-left: -9px;
	background-repeat: no-repeat;
	background-image: url(../images/icon/icon_req.png);
	z-index: 2;
}
.reqdetails_box .reqdetails .bid .step ul li:first-child div i{
	background-position: -26px 3px;
}
.reqdetails_box .reqdetails .bid .step ul li:nth-child(2) div i{
	background-position: -52px 3px;
}
.reqdetails_box .reqdetails .bid .step ul li:nth-child(3) div i{
	background-position: -81px 3px;
}
.reqdetails_box .reqdetails .bid .step ul li:nth-child(4) div i{
	background-position: -110px 3px;
}
.reqdetails_box .reqdetails .bid .step ul li:nth-child(5) div i{
	background-position: -172px 3px;
}
.reqdetails_box .reqdetails .bid .step ul li:nth-child(6) div i{
	background-position: -200px 3px;
}
.reqdetails_box .reqdetails .bid .step ul li:last-child div i{
	background-position: -228px 3px;
}
.reqdetails_box .reqdetails .bid .step ul li.finish div i{
	background-color: #22ac38;
	background-position: 3px 5px;
}
.reqdetails_box .reqdetails .bid .step ul li.active div i{
	background-color: #22ac38;
}
.reqdetails_box .reqdetails .bid .step ul li .span2{
	float: left;
	width: 100%;
	text-align: center;
}
.reqdetails_box .reqdetails .bid .step ul li .span2 span{
	float: left;
	width: 100%;
	color: #666;
	text-align: center;
}
.reqdetails_box .reqdetails .bid .step ul li.active .span2 span{
	color: #22ac38;
}
.reqdetails_box .reqdetails .bid .hope{
	height: 166px;
	border: 1px solid #ddd;
	padding: 12px 30px;
	background: #fcfcfc;
}
.reqdetails_box .reqdetails .bid .hope .left{
	width: 890px;
	float: left;
}
.reqdetails_box .reqdetails .bid .hope .left p.p{
	font-weight: bold;
	line-height: 14px;
	padding: 0;
}
.reqdetails_box .reqdetails .bid .hope .left p{
	overflow: hidden;
	padding: 20px 0;
}
.reqdetails_box .reqdetails .bid .hope .left p span{
	margin-right: 30px;
	height: 30px;
	line-height: 30px;
	float: left;
}
.reqdetails_box .reqdetails .bid .hope .left p span i{
	float: left;
	width: 37px;
	height: 30px;
	background-image: url(../images/icon/icon_req.png);
	background-repeat: no-repeat;
}
.reqdetails_box .reqdetails .bid .hope .left p span i.i1{
	background-position: 0px -29px;
}
.reqdetails_box .reqdetails .bid .hope .left p span i.i2{
	background-position: -40px -30px;
}
.reqdetails_box .reqdetails .bid .hope .right{
	padding: 50px 0 0 26px;
	float: right;
	width: 278px;
	height: 100%;
	border-left: 1px solid #ddd;
}
.reqdetails_box .reqdetails .bid .hope .right p.p1{
	height: 30px;
}
.reqdetails_box .reqdetails .bid .hope .right p.p1 span{
	margin-top: 10px;
	line-height: 15px;
	height: 15px;
	float: left;
}
.reqdetails_box .reqdetails .bid .hope .right p.p1 span.span{
	color: #22ac38;
	height: 30px;
	line-height: 30px;
	margin: 0 5px;
	font-size: 24px;
}
.reqdetails_box .reqdetails .bid .hope .right p.p1 i{
	float: left;
	width: 20px;
	height: 30px;
	background: url(../images/icon/icon_req.png) no-repeat -86px -21px;
}
.reqdetails_box .reqdetails .bid .hope .right p.p2{
	color: #22ac38;
}
.reqdetails_box .reqdetails .bid .num .head{
	padding: 12px 0;
}
.reqdetails_box .reqdetails .bid .num .head p{
	height: 40px;
	color: #666;
	line-height: 40px;
}
.reqdetails_box .reqdetails .bid .num textarea{
	width: 100%;
	max-width: 100%;
	height: 160px;
	padding: 28px 32px;
	background-color: #fcfcfc;
}
.reqdetails_box .reqdetails .bid .num textarea:focus{
	outline: 1px solid #22ac38;
}
.reqdetails_box .reqdetails .bid .num .btm{
	height: 92px;
}
.reqdetails_box .reqdetails .bid .num .btm p{
	float: left;
	margin-top: 42px;
	height: 44px;
}
.reqdetails_box .reqdetails .bid .num .btm p span{
	float: left;
	margin-right: 18px;
	color: #a4a4a4;
}
.reqdetails_box .reqdetails .bid .num .btm p span i{
	float: left;
	width: 24px;
	height: 18px;
	background-repeat: no-repeat;
	background-image: url(../images/icon/icon_req.png);
}
.reqdetails_box .reqdetails .bid .num .btm p span i.i1{
	background-position: 0 -79px;
}
.reqdetails_box .reqdetails .bid .num .btm p span i.i2{
	background-position: -38px -79px;
}
.reqdetails_box .reqdetails .bid .num .btm p span i.i3{
	background-position: -75px -79px;
}
.reqdetails_box .reqdetails .bid .num .btm p span a{
	color: #a4a4a4;
}
.reqdetails_box .reqdetails .bid .num .btm p span a:hover{
	color: #22ac38;
}
.reqdetails_box .reqdetails .bid .num .btm a#fixbid{
	float: right;
	margin: 16px 0;
	width: 195px;
	height: 60px;
	font-size: 22px;
	line-height: 60px;
	text-align: center;
	background-color: #22ac38;
	color: #fff;
	cursor: pointer;
	border-radius: 5px;
}
.reqdetails_box .reqdetails .bid .num .btm a#fixbid:hover{
	background-color: #179500;
}
.reqdetails_box .reqdetails .evaluate{
	margin-bottom: 30px;
}
.reqdetails_box .reqdetails .evaluate h3.head{
	border-bottom: 3px solid #22ac38;
	height: 47px;
}
.reqdetails_box .reqdetails .evaluate h3.head span{
	width: 90px;
	height: 47px;
	float: left;
	text-align: center;
	line-height: 50px;
	background-color: #22ac38;
	color: #fff;
	font-size: 22px;
}
.reqdetails_box .reqdetails .evaluate ul.talk li{
	padding: 30px 0;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .left{
	width: 110px;
	float: left;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .left img{
	width: 48px;
	height: 48px;
	margin: 0 31px;
	border-radius: 3px;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .left span{
	width: 100%;
	height: 40px;
	line-height: 40px;
	float: left;
	text-align: center;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right{
	width: 1070px;
	float: left;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right h3{
	float: left;
	width: 100%;
	height: 20px;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right h3 span{
	float: left;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right h3 i{
	width: 20px;
	height: 20px;
	float: left;
	margin-left: 18px;
	background-repeat: no-repeat;
	background-image: url(../images/icon/icon_req.png);
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right h3 i.i1{
	background-position: 0 -116px;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right h3 i.i2{
	background-position: -40px -116px;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right p.p1{
	float: left;
	width: 100%;
	font-weight: bold;
	height: 14px;
	margin: 16px 0;
	line-height: 14px;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right p.p1 span{
	color: #22ac38;
	font-weight: normal;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right textarea{
	width: 100%;
	max-width: 100%;
	padding: 20px 39px; 
	height: 148px;
	line-height: 30px;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right p.p2{
	padding: 18px 40px 8px;
	width: 100%;
	height: 56px;
	float: left;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right p.p2 span{
	margin-right: 50px;
	float: left;
	height: 30px;
	line-height: 30px;
	color: #666;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right p.p2 span i{
	width: 24px;
	height: 30px;
	float: left;
	background: url(../images/icon/icon_req.png) no-repeat 0 -151px;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right p.p2 span span{
	float: left;
	margin: 0;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right p.p2 span.talklist{
	cursor: pointer;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right p.p2 span.color{
	color: #22ac38;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right p.p2 button{
	width: 90px;
	height: 30px;
	border-radius: 3px;
	border:0;
	margin-right: 20px;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right p.p2 button.btn1{
	background-color: #22ac38;
	color: #fff;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right p.p2 button.btn2{
	background-color: #dcdcdc;
	color: #666;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right p.p2 button.btn3{
	background-color: #f4bb19;
	color: #fff;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner{
	display: none;
	position: relative;
	width: 100%;
	float: left;
	padding: 13px;
	border:1px solid #ddd;
	background-color: #fff;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner.active{
	display: block;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner:before,
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner:after{
	content: "";
	position: absolute;
	left: 376px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner:before{
	top: -8px;
	border-bottom: 8px solid #ddd;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner:after{
	top: -7px;
	border-bottom: 8px solid #fff;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner .top{
	width: 100%;
	height: 50px;
	float: left;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner .top textarea{
	float: left;
	width: 879px;
	height: 50px;
	padding: 12px 10px;
	line-height: 25px;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner .top a{
	float: left;
	margin-left: 13px;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	border: 1px solid #22ac38;
	border-radius: 5px;
	font-size: 22px;
	color: #22ac38;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner .top a:hover{
	color: #fff;
	background-color: #22ac38;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner ul{
	float: left;
	width: 100%;
	overflow: hidden;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner ul li{
	width: 100%;
	float: left;
	border-bottom: 1px solid #ddd;
	padding: 20px 0;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner ul li img{
	float: left;
	width: 31px;
	height: 31px;
	margin-right: 10px;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner ul li span.span1{
	float: left;
	color: #0b73bb;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner ul li p{
	width: 846px;
	float: left;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner ul li p span{
	color: #a4a4a4;
	margin: 0 5px;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner ul li a{
	color: #0b73bb;
	float: right;
	margin-top: 12px;
}
.reqdetails_box .reqdetails .evaluate ul.talk li .right .talkinner a.more{
	float: left;
	margin-top: 16px;
	color: #0b73bb;
}


















.fixbidcnt{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: none;
}
.fixbidcnt .shadow{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.6;
	filter: Alpha(opacity=60);
	z-index: 1;
}
.fixbidcnt .txt{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1075px;
	height: 416px;
	margin-left: -538px;
	margin-top: -208px;
	background-color: #fff;
	z-index: 2;
	border-radius: 5px;
	overflow: hidden;
}
.fixbidcnt .txt form {
	width: 100%;
	height: 100%;
}
.fixbidcnt .txt form h3{
	font-size: 26px;
	padding-left: 36px;
	height: 66px;
	line-height: 66px;
	background-color: #f1f1f1;
}
.fixbidcnt .txt form .div1{
	margin: 16px 0 0 36px;
	width: 100%;
	height: 42px;
}
.fixbidcnt .txt form .div1 label,
.fixbidcnt .txt form .div2 label{
	float: left;
	width: 60px;
	line-height: 42px;
	font-weight: normal;
	font-size: 22px;
	margin: 0;
}
.fixbidcnt .txt form .div1 input[type="text"]{
	float: left;
	width: 956px;
	height: 42px;
	padding: 0 10px;
	line-height: 42px;
	border:1px solid #ccc;
}
.fixbidcnt .txt form .div2{
	padding: 30px 0;
	width: 100%;
	padding-left: 36px;
	border-bottom: 1px solid #ddd;
}
.fixbidcnt .txt form .div2 textarea{
	float: left;
	padding: 10px;
	width: 956px;
	max-width: 956px;
	float: left;
	height: 154px;
	max-height: 154px;
	border:1px solid #ccc;
}
.fixbidcnt .txt form .allfixwindowschoose{
	padding: 18px;
}
.fixbidcnt .txt i.del{
	position: absolute;
	top: 21px;
	right: 25px;
	width: 25px;
	height: 25px;
	z-index: 1;
	cursor: pointer;
	display: block;
	background: url(../images/icon/icon_req.png) no-repeat -39px -156px;
}