.topadvertise{
	display: block;
	height: 100px;
	background: url(../images/img/topadvertise.png) no-repeat center;
}
.topbar_box{
	background-color: #f2f2f2;
	height: 30px;
	line-height: 30px;
}
.topbar_box.topbarfix{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}
.topbar_box .topbar{
	overflow: hidden;
}
.topbar_box .topbar p{
	float: left;
}
.topbar_box .topbar div{
	float: right;
}
.topbar_box .topbar div a{
	float: right;
	color: #a4a4a4;
	margin-left: 36px;
}
.topbar_box .topbar div a:hover{
	color: #22ac38;
}
.topbar_box .topbar div a.a1{
	color: #22ac38;
}
.topbar_box .topbar div a.a2 i{
	float: left;
	width: 21px;
	height: 30px;
	background: url(../images/icon/icon_index.png) no-repeat 0 9px;
}
.topbar_box .topbar div a.a2 span{
	color: #22ac38;
}
.topbar_box .topbar div a.a3 i{
	float: left;
	width: 19px;
	height: 30px;
	background: url(../images/icon/icon_index.png) no-repeat -36px 7px;
}
.topbar_box .topbar div a.a6{
	margin-left: 20px;
}
.search_box{
	padding: 30px 0 16px;
	position: relative;
	z-index: 99;
	background-color: #fff;
}
.search_box .search .logo{
	float: left;
	margin: 9px 0 0;
}
.search_box.searchfix{
	position: fixed;
	padding: 0;
	top: 30px;
	left: 0;
	right: 0;
	z-index: 9999;
	border-bottom: 1px solid #ddd;
}
.search_box .search .area{
	position: relative;
	float: left;
	margin: 16px 0 16px 30px;
	height: 36px;
	line-height: 34px;
	border-radius: 3px;
}
.search_box .search .area .citybox{
	position: absolute;
	top: 38px;
	left: 0;
	width: 340px;
	height: 460px;
	padding-left:19px;
	background-color: #fff;
	border: 1px solid #ddd;
	display: none;
	z-index: 9;
}
.search_box .search .area .citybox .cityinr{
	float: left;
	width: 100%;
	border-bottom: 1px solid #ddd;
}
.search_box .search .area .citybox .cityinr .inr{
	overflow: hidden;
	padding: 5px 0px;
}
.search_box .search .area .citybox .cityinr .title{
	width: 42px;
	float: left;
	line-height: 12px;
	margin: 5px 0;
	color: #22ac38;
	font-size: 12px;
}
.search_box .search .area .citybox .cityinr .city{
	float: left;
	width: 254px;
	overflow: hidden;
}
.search_box .search .area .citybox .cityinr .city a{
	color: #666;
	font-size: 12px;
	float: left;
	height: 18px;
	line-height: 12px;
	margin: 3px 14px 3px 0;
	padding: 2px;
}
.search_box .search .area .citybox .cityinr .city a:hover,
.search_box .search .area .citybox .cityinr .city a.active{
	background-color: #22ac38;
	color: #fff;
}
.search_box .search .area .citybox .hotandall{
	height: 430px;
	overflow-y: auto;
	border-bottom: 1px solid #ddd;
}
.search_box .search .area .citybox .hot{
	padding: 14px 0;
}
.search_box .search .area .citybox .all{
	border-bottom: 0;
}
.search_box .search .area .citybox .addmore{
	text-align: center;
	line-height: 26px;
	font-size: 12px;
	color: #a4a4a4;
}
.search_box .search .area .citybox .hotandall::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: #f5f5f5;
	padding: 0 2px;
	border-radius: 10px;
}

.search_box .search .area .citybox .hotandall::-webkit-scrollbar{
	width: 10px;
	
	background-color: #f9f9f9;
}
.search_box .search .area .citybox .hotandall::-webkit-scrollbar-thumb{
	width: 8px;
	border-radius: 8px;
	margin: 0 1px;
	background-color: #22ac38;
}
.search_box .search .area p.p{
	position: relative;
	width: 100%;
	height: 36px;
	cursor: pointer;
	border: 1px solid #ddd;
	z-index: 10;
}
.search_box .search .area:hover p.p{
	height: 39px;
	background-color: #fff;
	border-bottom: 0;
}
.search_box .search .area p.p span{
	float: left;
	padding: 0 5px;
	max-width: 180px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
}
.search_box .search .area p.p i{
	float: left;
	width: 12px;
	margin-right: 5px;
	height: 34px;
	background: url(../images/icon/icon_index.png) no-repeat -70px 14px;
}
.search_box .search .area.cur p.p i{
	transform: rotate(180deg);
}
.search_box .search .right{
	float: right;
	width: 780px;
	margin-top: 14px;
}
.search_box .search .right form{
	float: left;
	width: 630px;
	height: 40px;
	border-radius: 5px;
	line-height: 40px;
}
.search_box .search .right form .type{
	position: relative;
	float: left;
	width: 94px;
	height: 40px;
	border-top: 2px solid #22ac38;
	border-left: 2px solid #22ac38;
	border-bottom: 2px solid #22ac38;
	border-radius: 5px 0 0 5px;
}
.search_box .search .right form .type p{
	position: relative;
	left: 0;
	width: 100%;
	height: 38px;
	cursor: pointer;
	z-index: 2;
}
.search_box .search .right form .type p span{
	width: 60px;
	float: left;
	color: #22ac38;
	line-height: 36px;
	text-align: right;
}
.search_box .search .right form .type p i{
	float: right;
	border-right: 1px solid #eee;
	width: 29px;
	height: 36px;
	background: url(../images/icon/icon_index.png) no-repeat -95px 15px;
}
.search_box .search .right form .type.border{
	border-radius: 5px 0 0 0;
}
.search_box .search .right form .type.border p{
	border-bottom: 2px solid #fff;
}
.search_box .search .right form .type.border p i{
	border-right: 1px solid #fff;
}
.search_box .search .right form .type div{
	position: absolute;
	top: 36px;
	left: -2px;
	width: 96px;
	border: 2px solid #22ac38;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
	z-index: 1;
	display: none;
}
.search_box .search .right form .type div span{
	float: left;
	width: 96px;
	height: 30px;
	padding-left: 18px;
	line-height: 30px;
	background-color: #fff;
	cursor: pointer;
}
.search_box .search .right form .type div span:hover{
	background-color: #eee;
}
.search_box .search .right form .ipt{
	float: right;
	width: 536px;
	height: 40px;
}
.search_box .search .right form .ipt input[type="text"]{
	border-left: 0;
	border-right: 0;
	border-top: 2px solid #22ac38;
	border-bottom: 2px solid #22ac38;
	height: 40px;
	line-height: 36px;
	float: left;
	padding: 0 15px;
	width: 428px;
}
.search_box .search .right form .ipt input[type="submit"]{
	width: 106px;
	height: 40px;
	font-size: 18px;
	line-height: 36px;
	border: 2px solid #22ac38;
	float: left;
	background-color: #22ac38;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}
.search_box .search .right form .ipt input[type="submit"]:hover{
	background-color: #179500;
	border:1px solid #179500;
}
.search_box .search .right .other{
	float: left;
	width: 145px;
	height: 40px;
}
.search_box .search .right .other span.span{
	float: left;
	width: 35px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #a4a4a4;
}
.search_box .search .right .other div{
	float: right;
	width: 110px;
	height: 40px;
	border-radius: 5px;
	background-color: #22ac38;
	line-height: 40px;
	text-align: center;
}
.search_box .search .right .other div:hover{
	background-color: #179500;
}
.search_box .search .right .other div a{
	float: left;
	color: #fff;
	width: 100%;
	height: 100%;
	font-size: 18px;
}
.search_box .search .right .hot{
	float: left;
	margin: 10px 0 0 20px;
	width: 550px;
}
.search_box.searchfix .search .right .hot{
	display: none;
}
.search_box .search .right .hot a{
	float: left;
	color: #a4a4a4;
}
.search_box .search .right .hot span.span1{
	color: #22ac38;
	margin: 0;
}
.search_box .search .right .hot span{
	float: left;
	color: #a4a4a4;
	margin: 0 12px;
}
.search_box .search .right .hot a:hover{
	color: #22ac38;
}
.nav_box{
	position: relative;
	z-index: 10;
	background-color: #22ac38;
	height: 40px;
}
.nav_box.navmt{
	margin-top: 100px;
}
.nav_box .nav{
	height: 100%;
}
.nav_box .nav .sec_nav{
	position: relative;
	width: 200px;
	float: left;
	z-index: 9;
}
.nav_box .nav .sec_nav .top{
	width: 100%;
	height: 40px;
	cursor: pointer;
	/*background-color: #179500;*/
}
.nav_box .nav .sec_nav .top i{
	float: left;
	margin: 13px 12px 0 37px;
	width: 21px;
	height: 16px;
	background: url(../images/icon/icon_index.png) no-repeat -134px 0px;
}
.nav_box .nav .sec_nav .top span{
	float: left;
	color: #fff;
	height: 40px;
	font-size: 22px;
	line-height: 40px;
}
.nav_box .nav .sec_nav .down{
	position: absolute;
	left: 0;
	right: 0;
	top: 40px;
	height: 500px;
}
.nav_box .nav .sec_nav .down .shadow,
.nav_box .nav .sec_nav .down ul.sec_ul{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.nav_box .nav .sec_nav .down .shadow{
	z-index: 1;
	background-color: #fff;
	opacity: 0.5;
}
.nav_box .nav .sec_nav .down ul.sec_ul{
	padding: 0 0 2px;
	z-index: 2;
}
.nav_box .nav .sec_nav .down ul.sec_ul li{
	width: 100%;
	float: left;
	font-size: 22px;
	height: 71px;
}
.nav_box .nav .sec_nav .down ul.sec_ul li:last-child{
	height: 74px;
}
.nav_box .nav .sec_nav .down ul.sec_ul li p.p{
	position: relative;
	width: 201px;
	height: 100%;
	border:1px solid transparent;
	cursor: pointer;
	z-index: 10;
}
.nav_box .nav .sec_nav .down ul.sec_ul li:hover p.p{
	background-color: #fff;
	border:1px solid #ddd;
	border-right: 0;
}
.nav_box .nav .sec_nav .down ul.sec_ul li:hover p span{
	color: #22ac38;
}
.nav_box .nav .sec_nav .down ul.sec_ul li p.p i{
	float: left;
	margin: 22px 9px 0 35px;
	width: 26px;
	height: 26px;
	background-image: url(../images/icon/icon_index.png);
	background-repeat: no-repeat;
}
.nav_box .nav .sec_nav .down ul.sec_ul li p.p i.i1{
	background-position: 2px -36px;
}
.nav_box .nav .sec_nav .down ul.sec_ul li p.p i.i2{
	background-position: -43px -36px;
}
.nav_box .nav .sec_nav .down ul.sec_ul li p.p i.i3{
	background-position: -88px -36px;
}
.nav_box .nav .sec_nav .down ul.sec_ul li p.p i.i4{
	background-position: -133px -34px;
}
.nav_box .nav .sec_nav .down ul.sec_ul li p.p i.i5{
	background-position: -176px -34px;
}
.nav_box .nav .sec_nav .down ul.sec_ul li p.p i.i6{
	background-position: -220px -34px;
}
.nav_box .nav .sec_nav .down ul.sec_ul li p.p i.i7{
	background-position: -264px -34px;
}
.nav_box .nav .sec_nav .down ul.sec_ul li p.p span{
	float: left;
	height: 70px;
	line-height: 70px;
}
.nav_box .nav .sec_nav .down ul.sec_ul li .cnt{
	position: absolute;
	top: 0;
	left: 200px;
	background-color: #fff;
	width: 410px;
	height: 500px;
	border: 1px solid #ddd;
	display: none;
	z-index: 5;
}
.nav_box .nav .sec_nav .down ul.sec_ul li:hover .cnt{
	display: block;
}
.nav_box .nav .sec_nav .down ul.sec_ul li .cnt .item{
	float: left;
	padding-left: 30px;
	width: 100%;
	height: 25%;
}
.nav_box .nav .sec_nav .down ul.sec_ul li .cnt .item h3{
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	margin: 20px 0 10px;
}
.nav_box .nav .sec_nav .down ul.sec_ul li .cnt .item p{
	float: left;
	width: 100%;
	height: 60px;
	overflow: hidden;
}
.nav_box .nav .sec_nav .down ul.sec_ul li .cnt .item p a{
	float: left;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #666;
	margin-right: 16px;
}
.nav_box .nav .sec_nav .down ul.sec_ul li .cnt .item p a:hover{
	color: #22ac38;
}
.nav_box .nav .fir_nav{
	float: left;
	width: 1030px;
}
.nav_box .nav .fir_nav a{
	width: 206px;
	float: left;
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	color: #fff;
	text-align: center;
}
.nav_box .nav .fir_nav a:hover,
.nav_box .nav .fir_nav a.active{
	background-color: #179500;
}